
    /* Bottom Nav */
    .bottom-nav {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      background-color: #fff;
      border-top: 1px solid #ddd;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 0.8rem;
    }

    .nav-item {
      text-align: center;
      color: rgb(46, 83, 116);
      text-decoration: none;
      font-size: 16px;
      
    }

    .nav-item.active {
      color: #ff4d4d;
    }

    @media (max-width: 480px) {
      .container {
        padding: 15px;
      }

      .grid {
        gap: 10px;
      }

      .box {
        padding: 15px;
        font-size: 0.9rem;
      }

      .course-info {
        font-size: 0.85rem;
      }
    }